---
---

@keyframes rotation {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
      transform: rotate(359deg) scale(1);
    }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.Exhibit__controls-msg {
    animation: 1.5s linear 1s infinite running pulse_animation;
}

h2 {
    font-family: 'Terminal Grotesque', Helvetica, Arial, sans-serif;
}

.Exhibit__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Exhibit__link {
    font-size: 50px;
    margin: 20px;
}

.Exhibit__splash {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
}

.Exhibit__controls {
    font-family: 'Terminal Grotesque', Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    z-index: 10001;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Exhibit__slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
    width: 300px;
}

.Exhibit__slider {
    -webkit-appearance: none; 
    appearance: none;
    height: 5px;
    border: 1px solid black;
}

.Exhibit__slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 8px; 
    height: 20px; 
    border: 1px solid black;
    border-radius: 0;
    cursor: pointer; 
}

.Exhibit__slider::-moz-range-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 8px; 
    height: 20px; 
    border: 1px solid black;
    border-radius: 0;
    cursor: pointer; 
}
    
.Exhibit__emoji-selector {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;

    button {
        width: 3em;
        height: 3em;
        background-size: contain;
    }
    button.selected {
        border-color: black;
        border-width: medium;
    }
}

.Exhibit__party-button-wrapper {
    margin: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Exhibit__party-button {
    animation: rotation 3s infinite linear;
    width: 80px;
    height: 80px;
}

